.category-section {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.category-grid {
  width: 95%;
  max-width: 750px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.category-card {
  background: #fafaf7;
  padding: 35px 25px;
  border-radius: 14px;
  text-align: center;
  cursor: pointer;
  transition: 0.25s ease;
  border: 1px solid #eaeaea;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: #113c46;
  min-height: 160px;
}

.category-card .icon {
  font-size: 40px;
  margin-bottom: 18px;
}

.category-card h3 {
  font-size: 17px;
  font-weight: 700;
  color: #113c46;
  line-height: 1.3;
}

.category-card:hover {
  transform: translateY(-6px);
  background: #ffffff;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08);
}
.category-card:active {
  transform: translateY(-2px);
}